body{
    color: rgb(135, 82, 135);
    text-align: left;
    font-family: Arial;
}
#container{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid rgb(228, 196, 228);
    margin: auto;
}

#container h1{
    font-size: 40px;

}