body{
    background-color: rgb(209, 196, 196);
    color: cadetblue;
    text-align: left;
    font-family: Arial;
    font-size: 15px;
    margin: 0;
    padding: 0;
}
#header{
    background: #4a6c6e;
    box-shadow: 0px 5px 8px 0px rgba(99, 96, 96, 0.5);
    color: white;
    font-weight: bold;
    margin-left: -1em;
    margin-right: -1em;
    margin-top: -1em;
    padding: 0.6em;

}
#header #logo{
    width: 20px;
    vertical-align: middle;
}
#tagline{
    margin: 0 0 0 1em;
    font-weight: bold;
    font-size: 0.8em;

}
#container{
    background-color: whitesmoke;
    width: 70%;
    padding: 1em;
    text-align: justify;
    border: 1px solid rgb(147, 180, 181);
    margin: auto;
    margin-top: 2rem;
}
#container h1{
    font-size: 30px;
    text-align: left;
}

#footer{
    opacity: 90%;
}
